.page-logo {
  display: block;
  margin: 0 auto 32px;
}

/* CSS Page */
img[src="img/logos/html5-css3-logo.svg"] {
  width: 175px;
  padding-top: 60px;
}
/* JQuery Page */
img[src="img/logos/jquery-logo.svg"] {
  width: 270px;
}
/* JavaScript Page */
img[src="img/logos/javascript-logo.svg"] {
  width: 140px;
}
/* Miscellaneous Page && About Page */
img[src="img/logos/misc-logo.svg"],
img[src="img/logos/about-logo.svg"] {
  width: 120px;
}
/* About Page */
img[alt="Main Logo in SVG Format."] {
  width: 80px;
  margin: 1.25em 0 1em;
}
/* About the Creator - Me */
img[src="img/logos/about-logo.svg"] {
  border-radius: 50%;
}
/* Contact Page */
img[src="img/logos/contact-logo.svg"] {
  width: 125px;
}
.contact-icon {
  width: 100px;
}

/* ---- Social Icons ---- */
.footer-grid a img {
  transition: transform 0.5s ease-out;
  width: 32px;
}
.footer-grid a img:hover {
  transform: rotate(360deg);
}

/* ====================================
  About Page - Title page
==================================== */

.about-me { /* flexbox container */
  display: flex;
  flex-direction: column-reverse;
  padding-top: 32px;
}
img[src="img/about-picture.jpg"] {
  width: 200px;
  border-radius: 50%;
}
img[src="img/about-picture.jpg"] {
  display: block;
  margin: 0 auto;
}
/* Contact Page */
img[src="img/logos/contact-logo.svg"] {
  width: 150px;
}
.contact-icon {
  width: 100px;
}
#about-page h2,
#contact-page h2 {
  margin: 1em 0;
}

#about-page .page-description {
  padding: 0;
}

@media screen and (min-width: 768px) {

  #about-page h2,
  #contact-page h2,
  .h3-title {
    margin: 2em 0;
  }

  .page-description {
    text-align: center;
  }
  #about-page .page-description {
    text-align: inherit;
  }
  .profile-description h3 {
    padding: 32px 0 0;
  }

  img[src="img/logos/html5-css3-logo.svg"] {
    width: 200px;
    padding-top: 120px;
  }
  img[src="img/logos/jquery-logo.svg"] {
    width: 360px;
  }
  img[src="img/logos/javascript-logo.svg"] {
    width: 160px;
  }
  img[src="img/logos/misc-logo.svg"],
  img[src="img/logos/about-logo.svg"] {
    width: 140px;
  }
  img[src="img/about-picture.jpg"] {
    width: 225px;
  }
  /* Contact Page */
  img[src="img/logos/contact-logo.svg"] {
    width: 150px;
  }
  .contact-icon {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {

  .page-description {
    text-align: center;
  }

  /* ========================================
    About Page - About the Creator
  ======================================== */

  .about-me { /* flexbox container */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 48px;
    text-align: left;
  }
  img[src="img/about-picture.jpg"] {
    width: 250px;
  }
  .profile-description h3 {
    padding: 0 0 16px;
  }
  .about-me .profile-description {
    order: 2;
    flex: 1 50%;
    padding-right: 64px;
  }
  .profile-description p {
    margin-top: 0;
  }

  /* SVG Size */
  img[src="img/logos/html5-css3-logo.svg"] {
    width: 225px;
  }
  img[src="img/logos/jquery-logo.svg"] {
    width: 440px;
  }
  img[src="img/logos/javascript-logo.svg"] {
    width: 180px;
  }
  img[src="img/logos/misc-logo.svg"],
  img[src="img/logos/about-logo.svg"] {
    width: 160px;
  }
  /* Contact Page */
  img[src="img/logos/contact-logo.svg"] {
    width: 162px;
  }
  .contact-icon {
    width: 150px;
  }
  /* Social Icons */
  .footer-grid a img {
    transition: transform 0.5s ease-out;
    width: 36px;
  }
}
