/* ====================================
  Basic Global Styles
==================================== */

@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

.container { /* General container */
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}
.headline,
.footer-nav .container,
.bottom-footer .container {
  padding: 0 2rem;
}

* {
  box-sizing: border-box;
}
body {
  font: 300 1em/1.5 'Nunito', sans-serif;
  background: #243A4F; /* Navigation Color */
  color: #fff;
	margin: 0;
  text-align: center;
}
h1 {
  margin: 0;
  font: bold 1.5em/1.5 'Nunito', sans-serif;
}
h2 {
  margin: 0;
  font: bold 1.25em/1.5 'Nunito', sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: color 0.66s ease-out;
}

/* ====================================
  Back To Top Button - JQuery CDN
==================================== */

a.back-to-top {
  display: none;
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 20px;
  right: 100px;
  background: #000 url('../img/up-arrow.png') no-repeat center 43%;
  text-indent: -9999px;
  transition: all 0.5s;
  box-shadow: 0 0 4px #000;
  border: 2px solid white;
  z-index: 999;
}
a:hover.back-to-top {
  background-color: #2E435E;
  box-shadow: 0px 0px 10px 1px aqua;
}

/* ====================================
  Responsive Navigation - Flexbox
==================================== */

.main-header,
.navigation {
	display: flex;
	flex-direction: column;
}
.main-header {
	padding: 1.5em 0;
}

.site-logo {
  /* width: 110px; */
	align-self: center;
}
.site-logo img {
  width: 50px;
  margin-bottom: -6px;
}

.navigation {
	margin-top: 1em;
}
.navigation a {
	display: block;
	color: #fff;
  font: 300 1.125em/1.5 'Nunito', sans-serif;
	text-align: center;
	padding: .4em;
  border-bottom: 1px solid #67809F;
}
.navigation a:hover {
	border-bottom-color: #33BFBF;
  color: #33BFBF;
}

/* ---- Base Page Styles ---- */
.background-space {
  padding: 50px 0 40px;
}
.background-space .page-description {
  padding: 32px 0 16px;
}

/* ------------------------------------
  Contact/FOOTER Page - SMALL SCREENS
------------------------------------ */
.row,
.footer-grid,
.bottom-footer-grid {
  display: flex;
  flex-direction: column;
}
.footer-cell,
.footer-inner-cell {
  flex: 1;
}

/* CONTACT PAGE */
.col {
  text-align: center;
  padding: 30px 60px;
}
.col p {
  padding: 5px 0;
}
p[class="contact-button"] {
  padding: 20px 0;
  font-size: 1.125em;
  background-color: #58B7A2;
  border-radius: 12px;
  transition: background-color 0.5s;
}
p[class="contact-button"]:hover {
  background-color: #396358;
}

/* ---- One Column Layout: iPhone5 to ---- */
.bottom-footer-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Social Media Icons */
.social-icon-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.social-icon-cell {
  flex: 1;
}

/* ------------------------------------
  Navigation Media Queries - Flexbox
------------------------------------ */

@media screen and (max-width: 767px) {
  a.back-to-top {
    bottom: 15px;
    right: 20px;
  }

  /* footer {margin: 10px;} */

}

@media screen and (min-width: 768px) {

  /* ---------------------------------
    Back To Top BUTTON
  --------------------------------- */
  a.back-to-top {
    bottom: 50px;
    right: 60px;
  }
	.main-header {
	  padding: 1em;
		justify-content: flex-end;
	}
	.navigation {
		flex-direction: row;
		justify-content: space-between;
	}

  /***********************************
    Cool Transition Hover Effect
  ***********************************/
	.navigation a,
  .navigation a:hover {
      background: none;
      border-bottom-color: transparent;
    }
  .navigation a::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    -webkit-transition: width .4s ease, background-color .4s ease;
    -moz-transition: width .4s ease, background-color .4s ease;
    transition: width .4s ease, background-color .4s ease;
  }
  .navigation a:hover::after {
    width: 100%;
    background: #33BFBF;
  }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Contact/Footer Page - TABLET SCREENS
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .row,
  .footer-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col {
    flex: 1 33%;
  }
  .col p {
    padding: 10px 0;
  }
  p[class="contact-button"] {
    padding: 20px 0;
    font-size: 1.25em;
  }
  .footer-cell,
  .footer-inner-cell {
    text-align: left;
    flex: 1 50%; /* Tablet Screens */
  }
  /* Deep Bottom Footer */
  .bottom-footer-grid {
    flex-direction: row;
    justify-content: space-between;
  }
  .social-icon-cell {
    flex: 1 20%;
  }
}

@media screen and (min-width: 1024px) {

  h1 {
    margin: 0;
    font: bold 1.875em/1.5 'Nunito', sans-serif;
  }
  h2 {
    margin: 0;
    font: bold 1.625em/1.5 'Nunito', sans-serif;
  }
  p {
    font-size: 1.125em;
  }
	.main-header {
		flex-direction: row;
	}
	.site-logo {
		margin-right: auto;
	}
	.navigation {
		margin-top: 0;
		align-self: center;
	}
	.navigation li {
		margin-left: .65em;
		margin-right: .65em;
	}

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fixed Header - JQuery CDN
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .fixed-navigation {
    width: 100%;
    position: fixed;
    background: #304354;
    z-index: 999;
  }
  .background-space {
    padding: 120px 0 100px;
  }

  /* ------------------------------------
    Footer - Desktop Screens
  ------------------------------------ */
  .row,
  .footer-grid,
  .bottom-footer-grid {
    display: flex;
    flex-direction: row;
  }
  .footer-cell,
  .footer-inner-cell {
    flex: 1;
  }
  /* SOCIAL MEDIA ICONS */
  .social-icon-cell {
    flex: 1 10%;
  }
}

/* ====================================
  Responsive Gallery - Flexbox
==================================== */

.background-1 {
  background: #E0A767;
}
.background-2 {
  background: #6088F7;
}
.background-3 {
  background: #BA5555;
}
.background-4 {
  background: #8AA9CE;
}
.background-5 {
  background: #5D69AF;
}
.background-6 {
  background: #519178;
}

.background-1 .cell img {
  background: #E2D0A5;
}
.background-2 .cell img {
  background: #7FA0C6;
}
.background-3 .cell img {
  background: #DDAB9D;
}
.background-4 .cell img {
  background: #475B70;
}

.cell img {
  display: block;
}

.responsive-image,
.photo-container img {
  max-width: 100%;
}

.cell {
  margin: 2rem 1rem;
}
#Miscellaneous .cell {
  box-shadow: none !important;
}

/* ------------------------------------
  Gallery Media Queries - Flexbox
------------------------------------ */

@media screen and (min-width: 600px) {

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    margin: 1rem;
    width: calc(50% - 2rem);
  }

}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

/* ====================================
  Sticky Footer
==================================== */

.sticky-footer {
  min-height: calc(100vh - 45px);
}
.footer-nav {
  padding: 30px 0;
}
.footer-nav a:hover {
  color: #33BFBF;
}
.bottom-footer {
  padding: 20px 0;
  background: #22313F;
}
.footer-nav {
  background: #37495E;
}
.footer-inner-cell {
  margin: 1em 0;
}

/* ====================================
  Slick.js Plugin
==================================== */

.slick-dots {
  bottom: 20px !important;
}
.slick-dots li button::before {
  font-size: 16px;
  color: white;
}
.slick-dots li.slick-active button::before {
  color: white;
}

.blue {
  background: #6475F4;
}
.orange {
  background: #52B3D9;
}
.green {
  background: #6B2937;
}
.yellow {
  background: #475B70;
}

.grid-full {
  width: 100%;
  float: left;
}

/* Repeated Code */
.slide h2 {
  text-align: center;
  margin: 25% 0 20px;
  color: #fff;
  text-align: center;
}
.slide p {
  width: 60%;
  margin: 0 20%;
  font-size: 1.25em;
  color: #fff;
  text-align: center;
}
.cta-button {
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .grid-half {
    width: 80%;
    margin: 0px 10% 40px;
    float: left;
  }
  .slide img {
    width: 80%;
    margin: 0 10% 40px;
  }
  .slick-dots {
    top: 20px;
  }
}

@media screen and (min-width: 768px) {

  .grid-half {
    width: 50% !important;
    float: left;
  }
  .slick-carousel {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  .slide {
    width: 100%;
    height: 100%;
  }

  .slide h2 {
    text-align: center;
    margin: 25% 0 20px;
    color: #fff;
    text-align: center;
  }
  .slide p {
    width: 60%;
    margin: 0 20% 40px;
    font-size: 22px;
    color: #fff;
    text-align: center;
  }
  .slide img {
    width: 50%;
    margin: 100px 50% 100px 10% !important;
  }
  .cta-button {
    border: 2px solid #D5DDE4;
    border-radius: 4px;
    padding: 12px 20px;
    color: #777B7E;
    transition: .35s;
    font-weight: 400;
    cursor: pointer;
  }
  .slide .cta-button {
    color: #fff;
    border-color: #fff;
    opacity: .6;
  }
  .slide .cta-button:hover {
    opacity: 1;
  }
}

@media screen and (min-width: 1024px) {
  .grid-full {
    padding-top: 60px;
  }
}

/*************************************************************************************************************************************************************************************************************** 
  Transitions.css
***************************************************************************************************************************************************************************************************************/

/* ====================================
  Hover Information - MAIN LOGO
==================================== */

@media screen and (min-width: 1024px) {
  img[alt="Mini Portfolio Official Logo"] {
    transition: transform 0.5s ease-out;
  }
  img[alt="Mini Portfolio Official Logo"]:hover {
    transform: rotate(-90deg);
  }
}

/* ====================================
  Hover Information - CSS Page
==================================== */

.caption {
    position: relative;
    overflow: hidden;
}
.caption-media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.overlay-container {
    margin: 0 auto;
    padding: 0 2em;
}
.caption-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    transform: translateY(100%);
    transition: transform 1s ease;
}
.caption:hover .caption-overlay {
    transform: translateY(0);
}
.caption:hover .caption-overlay-title {
    transform: translateY(0);
}
.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #6475F4;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.caption:hover::before {
    opacity: 1;
}

/* ---- Text Overlay Base Styles ---- */
h3 {
	margin: 0;
}

/* ====================================
  Hover Information - JQUERY PAGE
==================================== */

.photo-container {
	text-align: center;
}
.photo {
	position: relative;
	overflow: hidden;
}

/* ---- Photo Overlay ---- */
.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .65);
}

/* ---- Float clearfix ---- */
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ------------------------------------
  JQuery Page - Photo Overlay Transition
------------------------------------ */

.section-2-overlay {
	opacity: 0;
  transition: opacity .3s, background .4s, box-shadow .5s; /* Key - transition: <property><duraction><timing-function><delay>, opacity .5s ease-out .25s (this order is the best practice) */
  /* OR transition-timing-function: ease-out; (helps set all property's timing function) */
  /* Note: transition: opacity .5s; */
  /* Note: transition: all .5s; Is the same as transition: .5s; (all is by default) */
}
.section-2-overlay:hover {
	opacity: 1;
  background: #52B3D9;
}

/* ------------------------------------
  JQuery Page - Button Transitions
------------------------------------ */

.section-2-button {
	color: #fff;
	width: 75%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	background: #78BF7F;
	padding: 16px 0;
	border-radius: .5em;
	margin: 0;
	position: relative;
  /* Button Transitions */
  opacity: 0;
  transition-property: opacity, background, box-shadow;
  transition-duration: .5s;
  transition-delay: .25s, 0s;
  transition-timing-function: ease;
}
.section-2-button:hover {
	background: #60C165;
}
.section-2-overlay:hover .section-2-button {
	opacity: 1;
}
.btn-icon {
	transition-property: opacity, left;
	transition-duration: .4s;
	transition-delay: .2s, .4s; /* .2s refers to opacity, .4s refers to left */
	transition-timing-function: ease-out, ease; /* ease-in-out refers to opacity, ease-out refers to left */
}
.section-2-button:hover .btn-icon {
	opacity: 1;
	left: 75%;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  JQuery Page - Base Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.btn-icon {
	opacity: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('../img/live-preview.svg');
	position: absolute;
	left: 45%;
	top: 33%;
}

/* ---- Photo Overlay ---- */
.section-2-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .65);
}

/* ====================================
  Hover Animation - JavaScript Page
==================================== */

.section-3-photo {
	position: relative;
	overflow: hidden;
}

.section-3-button {
	width: 70%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
	border-radius: .5em;
	margin: auto;
}

/* ---- Photo Overlay ---- */
.section-3-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
  /* Extra styling */
	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.section-3-slide .section-3-button {
	color: #fff;
	padding: 15px 0;
	background: #9B4148;
  opacity: 0.95;
	margin: 0;
}
.section-3-slide .section-3-overlay {
	opacity: 1;
	background: #6B2937;
}

/* ---------------------------------
  Photo Overlay Transitions
------------------------------------ */

.section-3-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.section-3-overlay:hover {
	opacity: 1;
}

/* ---------------------------------
  Button Transitions
------------------------------------ */

.section-3-button {
	transition: background 0.8s;
}
.section-3-button:hover {
	background: #DD5671;
}

/* ---------------------------------
  Image Transforms & Transitions
------------------------------------ */

.section-3-slide .section-3-overlay,
.section-3-slide img[class="section-3-img"] {
  transition: transform .6s ease-out;
}
.section-3-slide .section-3-overlay {
  transform: translateX(-100%);
}
.section-3-slide:hover .section-3-overlay {
  transform: translateX(0);
}
.section-3-slide:hover img[class="section-3-img"] {
  transform: translateX(100%);
}

/* =================================
  3D Hover Information - Misc
==================================== */

.misc-photo-container {
	text-align: center;
}

.misc-photo-container img {
 	max-width: 100%;
 	position: relative;
	z-index: 100;
}
.button {
	color: #fff;
	width: 75%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 15px 0;
	border-radius: .5em;
	background: #C45C79;
	margin: .3em 0 0;
}
.misc-photo {
	position: relative;
}
hr { /* How to add bottom shadow only */
  max-width: 90%;
  border: none;
  outline: none;
  box-shadow: 0 -5px 50px 10px rgba(0,0,0,.5);
}
/* ---- Photo Overlay ---- */
.photo-desc {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: #475B70;
}

/* =================================
  Button Transitions
==================================== */

.button {
	transition: background .5s;
}
.button:hover {
	background: #D383A2;
}

/* =================================
  Photo 3D Transforms & Transitions
==================================== */

.misc-photo-container /* .content { */ { /* giving a perspective to every photo to its container will individually have the same perspective like the one in the middle photo, all 3 photos are now consistent with each other */
  perspective: 1000px; /* Similar to the flex container, wrap this elements to make it 3d compatible */
  /* perspective-origin: y x; */ /* sets the perspective from a different angle, 50% 50% makes it centered by default. */
}
.misc-photo { /* photo is the parent of side-a and side-b */
  transition: transform 1.2s cubic-bezier(.55, -.62, .27, 1.2);
  transform-style: preserve-3d; /* Makes .photo child elements 3d compatible. It will pass down 3d attributes to its children. */
}
.misc-photo:hover {
  /* transform: rotateY(-180deg); */
  transform: rotate3d(0, 1, 0, 180deg); /* rotate(x, y, z, <angle> */
}
.side-a,
.side-b {
  backface-visibility: hidden;
}
.side-b {
  transform: rotateY(180deg);
}

/*************************************************************************************************************************************************************************************************************** 
  Images.css
***************************************************************************************************************************************************************************************************************/

.page-logo {
  display: block;
  margin: 0 auto 32px;
}

/* CSS Page */
img[src="img/logos/html5-css3-logo.svg"] {
  width: 175px;
  padding-top: 60px;
}
/* JQuery Page */
img[src="img/logos/jquery-logo.svg"] {
  width: 270px;
}
/* JavaScript Page */
img[src="img/logos/javascript-logo.svg"] {
  width: 140px;
}
/* Miscellaneous Page && About Page */
img[src="img/logos/misc-logo.svg"],
img[src="img/logos/about-logo.svg"] {
  width: 120px;
}
/* About Page */
img[alt="Main Logo in SVG Format."] {
  width: 80px;
  margin: 1.25em 0 1em;
}
/* About the Creator - Me */
img[src="img/logos/about-logo.svg"] {
  border-radius: 50%;
}
/* Contact Page */
img[src="img/logos/contact-logo.svg"] {
  width: 125px;
}
.contact-icon {
  width: 100px;
}

/* ---- Social Icons ---- */
.footer-grid a img {
  transition: transform 0.5s ease-out;
  width: 32px;
}
.footer-grid a img:hover {
  transform: rotate(360deg);
}

/* ====================================
  About Page - Title page
==================================== */

.about-me { /* flexbox container */
  display: flex;
  flex-direction: column-reverse;
  padding-top: 32px;
}
img[src="img/about-picture.jpg"] {
  width: 200px;
  border-radius: 50%;
}
img[src="img/about-picture.jpg"] {
  display: block;
  margin: 0 auto;
}
/* Contact Page */
img[src="img/logos/contact-logo.svg"] {
  width: 150px;
}
.contact-icon {
  width: 100px;
}
#about-page h2,
#contact-page h2 {
  margin: 1.25em 0 1em;
}

#about-page .page-description {
  padding: 0;
}

@media screen and (min-width: 768px) {

  #about-page h2,
  #contact-page h2 {
    margin: 1.5em 0 1em;
  }
  .h3-title {
    margin: 2em 0;
  }

  .page-description {
    text-align: center;
  }
  #about-page .page-description {
    text-align: inherit;
  }
  .profile-description h3 {
    padding: 32px 0 0;
  }

  img[src="img/logos/html5-css3-logo.svg"] {
    width: 200px;
    padding-top: 120px;
  }
  img[src="img/logos/jquery-logo.svg"] {
    width: 360px;
  }
  img[src="img/logos/javascript-logo.svg"] {
    width: 160px;
  }
  img[src="img/logos/misc-logo.svg"],
  img[src="img/logos/about-logo.svg"] {
    width: 140px;
  }
  img[src="img/about-picture.jpg"] {
    width: 225px;
  }
  /* Contact Page */
  img[src="img/logos/contact-logo.svg"] {
    width: 150px;
  }
  .contact-icon {
    width: 125px;
  }
}

@media screen and (min-width: 1024px) {

  .page-description {
    text-align: center;
  }

  /* ========================================
    About Page - About the Creator
  ======================================== */

  .about-me { /* flexbox container */
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: 48px;
    text-align: left;
  }
  img[src="img/about-picture.jpg"] {
    width: 200px;
  }
  .profile-description h3 {
    padding: 0 0 16px;
  }
  .about-me .profile-description {
    order: 2;
    flex: 1 50%;
    padding-right: 64px;
  }
  .profile-description p {
    margin-top: 0;
  }

  /* SVG Size */
  img[src="img/logos/html5-css3-logo.svg"] {
    width: 225px;
  }
  img[src="img/logos/jquery-logo.svg"] {
    width: 450px;
  }
  img[src="img/logos/javascript-logo.svg"] {
    width: 180px;
  }
  img[src="img/logos/misc-logo.svg"],
  img[src="img/logos/about-logo.svg"] {
    width: 160px;
  }
  /* Contact Page */
  img[src="img/logos/contact-logo.svg"] {
    width: 162px;
  }
  .contact-icon {
    width: 150px;
  }
  /* Social Icons */
  .footer-grid a img {
    transition: transform 0.5s ease-out;
    width: 36px;
  }
}