@import 'https://fonts.googleapis.com/css?family=Lato:300|Roboto:300';

/* ====================================
  Basic Global Styles
==================================== */

.container { /* General container */
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}
.headline,
.footer-nav .container,
.bottom-footer .container {
  padding: 0 2rem;
}

* {
  box-sizing: border-box;
}
body {
  font: 300 1.0625em/1.5 'Lato', sans-serif;
  background: #243A4F; /* Navigation Color */
  color: #fff;
	margin: 0;
}
h1 {
  margin: 0;
  font: bold 1.5em/1.5 'Roboto', sans-serif;
}
h2 {
  margin: 0;
  font: bold 1.25em/1.5 'Roboto', sans-serif;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  transition: color 0.66s ease-out;
}

/* ====================================
  Back To Top Button - JQuery CDN
==================================== */

a.back-to-top {
  display: none;
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 20px;
  right: 100px;
  background: #000 url('../img/up-arrow.png') no-repeat center 43%;
  text-indent: -9999px;
  transition: all 0.75s;
  box-shadow: 0 0 4px #000;
  z-index: 999;
}
a:hover.back-to-top {
  background-color: #182D44;
}

/* ====================================
  Responsive Navigation - Flexbox
==================================== */

.main-header,
.navigation {
	display: flex;
	flex-direction: column;
}
.main-header {
	padding: 1.5em 0;
}

.site-logo {
  /* width: 110px; */
	align-self: center;
}
.site-logo img {
  width: 50px;
  margin-bottom: -6px;
}

.navigation {
	margin-top: 1em;
}
.navigation a {
	display: block;
	color: #fff;
  font: 300 1.125em/1.5 'Roboto', sans-serif;
	text-align: center;
	padding: .4em;
  border-bottom: 1px solid #67809F;
  transition: letter-spacing 0.4s ease-out, color 0.4s ease-out, border 0.5s ease, background 0.4s ease-out;
}
.navigation a:hover {
	border-bottom-color: #33BFBF;
  color: #33BFBF;
  letter-spacing: 2px;
}

/* ---- Base Page Styles ---- */
.background-space {
  padding: 50px 0 40px;
}
.background-space .page-description {
  padding: 32px 0 16px;
}

/* ------------------------------------
  Contact/FOOTER Page - SMALL SCREENS
------------------------------------ */
.row,
.footer-grid,
.bottom-footer-grid {
  display: flex;
  flex-direction: column;
}
.footer-cell,
.footer-inner-cell {
  flex: 1;
}
/* CONTACT PAGE */
.col {
  text-align: center;
}
/* ---- One Column Layout: iPhone5 to ---- */
.bottom-footer-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Social Media Icons */
.social-icon-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.social-icon-cell {
  flex: 1;
}

/* ------------------------------------
  Navigation Media Queries - Flexbox
------------------------------------ */

@media screen and (max-width: 767px) {
  a.back-to-top {
    bottom: 15px;
    right: 20px;
  }
}

@media screen and (min-width: 768px) {

  /* ---------------------------------
    Back To Top BUTTON
  --------------------------------- */
  a.back-to-top {
    bottom: 50px;
    right: 60px;
  }
	.main-header {
	  padding: 1em;
		justify-content: flex-end;
	}
	.navigation {
		flex-direction: row;
		justify-content: space-between;
	}

  /***********************************
    Cool Transition Hover Effect
  ***********************************/
	.navigation a,
  .navigation a:hover {
      background: none;
      border-bottom-color: transparent;
    }
  .navigation a::after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    -webkit-transition: width .4s ease, background-color .4s ease;
    -moz-transition: width .4s ease, background-color .4s ease;
    transition: width .4s ease, background-color .4s ease;
  }
  .navigation a:hover::after {
    width: 100%;
    background: #33BFBF;
  }

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Contact/Footer Page - TABLET SCREENS
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .row,
  .footer-grid {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .col,
  .footer-cell,
  .footer-inner-cell {
    text-align: left;
    flex: 1 50%; /* Tablet Screens */
  }
  /* Deep Bottom Footer */
  .bottom-footer-grid {
    flex-direction: row;
    justify-content: space-between;
  }
  .social-icon-cell {
    flex: 1 20%;
  }
}

@media screen and (min-width: 1024px) {

  h1 {
    margin: 0;
    font: bold 1.625em/1.5 'Roboto', sans-serif;
  }
  h2 {
    margin: 0;
    font: bold 1.375em/1.5 'Roboto', sans-serif;
  }
	.main-header {
		flex-direction: row;
	}
	.site-logo {
		margin-right: auto;
	}
	.navigation {
		margin-top: 0;
		align-self: center;
	}
	.navigation li {
		margin-left: .65em;
		margin-right: .65em;
	}

  /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Fixed Header - JQuery CDN
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
  .fixed-navigation {
    width: 100%;
    position: fixed;
    background: #22313F;
    z-index: 999;
    box-shadow: 0 0 10px #282828;
  }
  .overlap-space {
    /* Similar to Bootstrap's Jumbotron default settings. */
    padding-top: 202px !important; /* (-82px for carousel) 82px for navigation height, and 50px for page padding top/bottom. */
  }
  .background-space {
    padding: 120px 0 110px;
  }


  /* ------------------------------------
    Footer - Desktop Screens
  ------------------------------------ */
  .row,
  .footer-grid,
  .bottom-footer-grid {
    display: flex;
    flex-direction: row;
  }
  .footer-cell,
  .footer-inner-cell {
    flex: 1;
  }
  .col { /* CONTACT PAGE */
    text-align: left;
  }
  /* SOCIAL MEDIA ICONS */
  .social-icon-cell {
    flex: 1 10%;
  }
}

/* ====================================
  Responsive Gallery - Flexbox
==================================== */

.background-1 {
  background: linear-gradient(to bottom right, #2782F9, transparent 105%),
              linear-gradient(30deg, #446CB3, transparent),
              url('../img/background-images/waves.png') center;
}
.background-2 {
  background: linear-gradient(to right, #B24926, transparent 125%),
              linear-gradient(-90deg, #FAA523, transparent),
              url('../img/background-images/pyramid.png') center;
}
.background-3 {
  background: linear-gradient(to bottom left, #6B262C, transparent 60%),
              linear-gradient(60deg, #51272B, transparent),
              url('../img/background-images/inflicted.png') center;
}
.background-4 {
  background: linear-gradient(to bottom right, #07513D, transparent 100%),
              linear-gradient(0deg, #0C7559, transparent),
              url('../img/background-images/shapes.png') center;
}
.background-5 {
  background: linear-gradient(to bottom left, #297384, transparent 100%),
              linear-gradient(0deg, #336E7B, transparent),
              url('../img/background-images/triangles.png') center;
}
.background-6 {
  background: linear-gradient(to bottom left, #91740A, transparent 90%),
              linear-gradient(30deg, #9E7A27, transparent),
              url('../img/background-images/asanoha.png') center;
}

.background-1 .cell img {
  background: #3A539B;
}
.background-2 .cell img {
  background: #1F3A93;
}
.background-3 .cell img {
  background: rgba(174, 168, 211, 0.9);
}

.cell img {
  display: block;
}

.responsive-image,
.photo-container img {
  max-width: 100%;
}

.cell {
  margin: 2rem 1rem;
  box-shadow: 1px 1px 8px 1px #000;
}
#Miscellaneous .cell {
  box-shadow: none !important;
}

/* ------------------------------------
  Gallery Media Queries - Flexbox
------------------------------------ */

@media screen and (min-width: 600px) {

  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    margin: 1rem;
    width: calc(50% - 2rem);
  }

}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

/* ====================================
  Sticky Footer
==================================== */

.sticky-footer {
  min-height: calc(100vh - 45px);
}
.footer-nav {
  padding: 30px 0;
}
.footer-nav a:hover {
  color: #33BFBF;
}
.bottom-footer {
  padding: 20px 0;
  background: #22313F;
}
.footer-nav {
  background: #2C3E50;
}
.footer-inner-cell {
  margin: 1em 0;
}
