@import 'https://fonts.googleapis.com/css?family=Lato:300|Roboto:300';

/* ====================================
  Back To Top Button - JQuery CDN
==================================== */

a.back-to-top {
  display: none;
  width: 55px;
  height: 55px;
  position: fixed;
  bottom: 40px;
  right: 50px;
  background: #000 url('../img/up-arrow.png') no-repeat center 43%;
  text-indent: -9999px;
  transition: all 0.67s;
  box-shadow: 1px 1px 5px #282828;
  z-index: 999;
}

a:hover.back-to-top {
  background-color: #3A539B;
}

/* ====================================
  Responsive Navigation - Flexbox
==================================== */

.main-header,
.navigation {
	display: flex;
	flex-direction: column;
}

.main-header {
	padding: 1.5em 0;
}

.site-logo {
  /* width: 110px; */
	align-self: center;
}

.navigation {
	margin-top: 1em;
}

.navigation a {
	display: block;
	color: #fff;
  font: 300 1.125em/1.5 'Roboto', sans-serif;
	text-align: center;
	padding: .4em;
	border-bottom: 1px solid #67809F;
  transition: all 0.8s;
}

.navigation a:hover {
  background: #182D44;
	color: #fff;
	border-bottom-color: #33BFBF;
}

/* ------------------------------------
  Navigation Media Queries - Flexbox
------------------------------------ */

@media screen and (min-width: 769px) {

	.main-header {
	  padding: 1em 0;
		justify-content: flex-end;
	}
  /* .site-logo {
       width: 140px;
  } */
	.navigation {
		flex-direction: row;
		justify-content: space-between;
	}
	.navigation a {
		border-bottom-color: transparent;
	}
  .navigation a:hover {
    background: none;
  }

}

@media screen and (min-width: 1025px) {

	.main-header {
		flex-direction: row;
	}
	.site-logo {
		margin-right: auto;
	}
	.navigation {
		margin-top: 0;
		align-self: center;
	}
	.navigation li {
		margin-left: .65em;
		margin-right: .65em;
	}

}

/* ====================================
  Responsive Gallery - Flexbox
==================================== */

.background-space {
  padding: 40px 0;
}

.background-1 {
  background: #4B77BE;
}
.background-2 {
  background: #F9690E;
}
.background-3 {
  background: #F64747;
}
.background-4 {
  background: #663399;
}
.background-5 {
  background: darkolivegreen;
}
.background-6 {
  background: #272727;
}

.cell img {
  display: block;
}

.responsive-image,
.photo-container img {
  max-width: 100%;
}

.cell {
  margin: 1rem;
}

/* ------------------------------------
  Gallery Media Queries - Flexbox
------------------------------------ */

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: calc(50% - 2rem);
  }

}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

/* ====================================
  Sticky Footer
==================================== */

.sticky-footer {
  min-height: calc(100vh - 54px);
}

.bottom-footer,
.footer-nav {
  padding: 20px 0;
}
.bottom-footer {
  background: #22313F;
}
.footer-nav {
  background: #2C3E50;
}

@media screen and (min-width: 600px) {
  .footer-grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .footer-cell {
    width: 50%;
  }
}
@media screen and (min-width: 1000px) {
  .footer-cell {
    width: 25%;
  }
}

/* ====================================
  Basic Global Styles
==================================== */

.container { /* General container */
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

/* Gallery Containers */
#css .css-headline,
#JQuery .jquery-headline,
#JavaScript .javascript-headline,
#Miscellaneous .miscellaneous-headline {
  padding: 0 2rem;
}

/* Non-gallery containers */
#about .container,
#contact .container,
.footer-nav .container,
.bottom-footer .container {
  padding: 0 2rem;
}

* {
  box-sizing: border-box;
}

body {
  font: 300 1em/1.5 'Lato', sans-serif;
  background: #243A4F; /* Navigation Color */
  color: #fff;
	margin: 0;
}

h1,
h2 {
  margin: 0;
  font: 100 1.75em/1.5 'Roboto', sans-serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #656a6e;
  text-decoration: none;
  font-weight: 400;
}

/* ------------------------------------
  Hover Information - CSS Page
------------------------------------ */

.caption {
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 4px #282828;
    transition: box-shadow 0.8s ease-out 0.2s;
}
.caption:hover {
    box-shadow: 1px 1px 16px #C5EFF7;
}
.caption-media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
}
.overlay-container {
    margin: 0 auto;
    padding: 0 2em;
}
.caption-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    margin: 0 auto 30px;
    text-align: center;
    color: white;
    transform: translateY(100%);
    transition: transform 0.75s ease;
}
.caption:hover .caption-overlay {
    transform: translateY(0);
}
.caption-overlay-title {
    margin: 0;
    padding: 0 0 10px;
    transition: transform .35s ease-out;
}

.caption:hover .caption-overlay-title {
    transform: translateY(0);
}
.caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .3s ease-out;
}
.caption:hover::before {
    background: #243A4F;
}
.caption {
    transform: translateZ(0);
}

/* ====================================
  Hover Information - JQuery Page
==================================== */

.photo-container {
	text-align: center;
}
.photo {
	position: relative;
	overflow: hidden;
}

/* ---- Photo Overlay ---- */
.photo-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .65);
}

/* ---- Float clearfix ---- */
.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

/* ------------------------------------
  JQuery Page - Photo Overlay Transition
------------------------------------ */

.section-2-overlay {
	opacity: 0;
  transition: opacity .3s, background .4s, box-shadow .5s; /* Key - transition: <property><duraction><timing-function><delay>, opacity .5s ease-out .25s (this order is the best practice) */
  /* OR transition-timing-function: ease-out; (helps set all property's timing function) */
  /* Note: transition: opacity .5s; */
  /* Note: transition: all .5s; Is the same as transition: .5s; (all is by default) */
}
.section-2-overlay:hover {
	opacity: 1;
  background: #0769ad;
}

/* ------------------------------------
  JQuery Page - Button Transitions
------------------------------------ */

.section-2-button {
	color: #fff;
	width: 75%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	background: #52B3D9;
	padding: 16px 0;
	border-radius: .5em;
	margin: 0;
	position: relative;
  /* Button Transitions */
  opacity: 0;
  transition-property: opacity, background, box-shadow;
  transition-duration: .66s;
  transition-delay: .25s, .1s, 0s;
}
.section-2-button:hover {
	background: #049372;
  box-shadow: 0 0 0 3px #1E824C;
}
.section-2-overlay:hover .section-2-button {
	opacity: 1;
}
.btn-icon {
	transition-property: opacity, left;
	transition-duration: .5s;
	transition-delay: .3s, .5s; /* .3s refers to opacity, .5s refers to left */
	transition-timing-function: ease-in-out, ease; /* ease-in-out refers to opacity, ease-out refers to left */
}
.section-2-button:hover .btn-icon {
	opacity: 1;
	left: 80%;
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
  JQuery Page - Base Styles
-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= */

.btn-icon {
	opacity: 0;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url('../img/download.svg');
	position: absolute;
	left: 45%;
	top: 33%;
}

/* ---- Photo Overlay ---- */
.section-2-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .65);
}
.section-2-overlay h3 {
	margin: 0;
}

/* ====================================
  Hover Animation - JavaScript Page
==================================== */

.section-3-photo {
	position: relative;
	overflow: hidden;
}

.section-3-button {
	color: #4a89ca;
	width: 70%;
	font-weight: 700;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	padding: 10px 0;
	border: 2px solid #4a89ca;
	border-radius: .5em;
	margin: auto;
}

/* ---- Photo Overlay ---- */
.section-3-overlay {
	color: #fff;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding-left: 20px;
	padding-right: 20px;
  /* Extra styling */
	display: flex; /* For centering text inside .photo-overlay */
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: rgba(0,0,0, .5);
}
.section-3-overlay h3 {
	margin: 0;
}
.section-3-slide .section-3-button {
	color: #fff;
	padding: 20px 0;
	background: rgba(74,137,202, .8);
	margin: 0;
}
.section-3-slide .section-3-overlay {
	opacity: 1;
	background: #345d88;
}

/* ---------------------------------
  Photo Overlay Transitions
------------------------------------ */

.section-3-overlay {
	opacity: 0;
	transition: opacity .5s;
}
.section-3-overlay:hover {
	opacity: 1;
}

/* ---------------------------------
  Button Transitions
------------------------------------ */

.section-3-button {
	transition: background .3s, color .3s;
}
.section-3-button:hover {
	color: #fff;
	background: #4a89ca;
}

/* ---------------------------------
  Image Transforms & Transitions
------------------------------------ */

.section-3-slide .section-3-overlay,
.section-3-slide img[class="section-3-img"] {
  transition: transform .6s ease-out;
}
.section-3-slide .section-3-overlay {
  transform: translateX(-100%);
}
.section-3-slide:hover .section-3-overlay {
  transform: translateX(0);
}
.section-3-slide:hover img[class="section-3-img"] {
  transform: translateX(100%);
}
